.top {
    padding-top: 70px;
}
.center-content {
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    
}

.background-red{
   
    min-height: 100vh;
    height: auto;
    background: rgb(255,220,226);
    background: linear-gradient(90deg, rgba(255,220,226,1) 0%, rgba(255,255,255,1) 100%);
  }
