
<div class="top center-content background-blue">
    <h1>Events</h1>
    <mat-card @slideTechno class="card">
        <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{article.img}} alt="Nuovo Therapy article">
        <mat-card-content>
            <p class="center-content">
                {{article.summary}}
            </p>
        </mat-card-content>
        <div class="center-content">
            <mat-card-actions>


            </mat-card-actions>
        </div>
        <div class="mid">

            <i class="bi red fs-1 fl" (click)="switchArticle('previous')" (mouseenter)="hoverSwitchLeft()"
                (mouseleave)="hoverSwitchLeft()" [class.bi-arrow-left-circle]="!hoverOnLeft"
                [class.bi-arrow-left-circle-fill]="hoverOnLeft"></i>

            <button class="btn btn-primary" [routerLink]="['/events',article.id]">
                Detail</button>

            <i class="bi red fs-1 fr" (click)="switchArticle('next')" (mouseenter)="hoverSwitchRight()"
                (mouseleave)="hoverSwitchRight()" [class.bi-arrow-right-circle]="!hoverOnRight"
                [class.bi-arrow-right-circle-fill]="hoverOnRight"></i>

        </div>
    </mat-card>



</div>